<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>StepOut</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.stepout2.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stepout</string>
				<string>com.stepout2.app</string>
				<string>app-1-922131577969-ios-fb7e6c4ea3692c01746fd0</string>
				<string>com.googleusercontent.apps.922131577969-ubdafoc9baurne1q69sess1018lqlq93</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAppCheckDebugToken</key>
	<string>test</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>StepOut - Events &amp; Friends needs access to your contacts to help you find friends who are already using the app and invite others to join.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>StepOut needs permission to save event photos to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>StepOut needs access to your photos to set event cover images and share photos from your events.</string>
	<key>NSCameraUsageDescription</key>
	<string>StepOut needs camera access to capture event photos and create memorable moments with friends.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>StepOut uses your location to show nearby events and help you set event locations.</string>
</dict>
</plist>
